.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

#left {
    float: left;
    width: 45%;
  }

#right {
    float: right;
    width: 48%;
  }

  .copyright {
    position: relative;
    bottom: 0;
}
